/* Responsive navigation menu reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* making the header text move to the center when the screen is small enough */
@media screen and (max-width: 1050px) {
  .header-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* making the home page text fill up the page once the screen is a certain size */
@media screen and (max-width: 1279px) {
  .block-about-us {
    flex: 0 100%;
    margin: 2rem;
  }

  .block-about-us p {
    padding-top: 0rem;
  }

  .block-about-us img {
    margin-bottom: -5rem;
  }
}

/* query for responsive checkout form & contact us */
@media screen and (max-width: 1000px) {
  .block-payment {
    flex: 0 100%;
  }

  .input-text {
    width: 100%;
  }

  .input-text-about-us {
    width: 100%;
  }
}

/* MOBILE RESPONSIVENESS QUERIES */
@media screen and (max-width: 800px) {
  body {
    margin-top: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .auto-detailing-font-top {
    font-size: 1.75rem;

  }

  .mobile-font-top {
    font-size: 1.75rem;
  }

  .header-text {
    padding-top: 10rem;
    top: 23rem;
  }

  .container-about-us {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .topnav{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-buttons {
    width: 100%;
  }

  .navbar-buttons ul {
    width: 100%;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .navbar-buttons ul li {
    text-align: center;
  }

  .navbar-buttons ul li a {
    padding: .5rem 1rem;
  }

}
