/* Responsive navigation menu reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* making the header text move to the center when the screen is small enough */
@media screen and (max-width: 1000px) {
  .header-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* making the home page text fill up the page once the screen is a certain size */
@media screen and (max-width: 1279px) {
  .block-about-us {
    flex: 0 100%;
    margin: 2rem;
  }

  .block-about-us p {
    padding-top: 0rem;
  }
}
